@model EndocrinRegistr.Models.CaseRecord

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

    <h4>CaseRecord</h4>*@
<hr />
<style>
    .vertical-input-group .input-group:first-child {
        padding-bottom: 0;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="caseEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseRecordId" />








            <fieldset class="border p-2 pl-2 pb-0 mb-4">
                <legend>Данные пациента:</legend>
                <div class="row">
                    <div class="form-group col-sm-5">
                        <label asp-for="Fio" class="control-label"></label>
                        <input asp-for="Fio" class="form-control" />
                        <span asp-validation-for="Fio" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="DateBirth" class="control-label"></label>
                        <input asp-for="DateBirth" class="form-control" />
                        <span asp-validation-for="DateBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Sex" class="control-label"></label>
                        <div class="row mt-2">
                            <div class="custom-control-inline">
                                <div class="form-check">
                                    <input asp-for="Sex" type="radio" name="Sex" value="М" id="radioM" />
                                    <label for="radioM">М</label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="Sex" type="radio" name="Sex" value="Ж" id="radioF" />
                                    <label for="radioF">Ж</label>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label asp-for="Contacts" class="control-label"></label>
                        <textarea rows="2" asp-for="Contacts" class="form-control"></textarea>
                        <span asp-validation-for="Contacts" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Adds" class="control-label"></label>
                        <textarea rows="2" asp-for="Adds" class="form-control"></textarea>
                        <span asp-validation-for="Adds" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Job" class="control-label"></label>
                        <textarea rows="2" asp-for="Job" class="form-control"></textarea>
                        <span asp-validation-for="Job" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="DoctorsId" class="control-label"></label>
                    <select asp-for="DoctorsId" class="form-control" asp-items="ViewBag.DoctorsId"></select>
                    <span asp-validation-for="DoctorsId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="NumCase" class="control-label"></label>
                    <input asp-for="NumCase" class="form-control" />
                    <span asp-validation-for="NumCase" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-3">
                    <label asp-for="DetectCaseY" class="control-label"></label>
                    <input asp-for="DetectCaseY" class="form-control" />
                    <span asp-validation-for="DetectCaseY" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="DetectFormationY" class="control-label"></label>
                    <input asp-for="DetectFormationY" class="form-control" />
                    <span asp-validation-for="DetectFormationY" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DetectDetails" class="control-label"></label>
                    <input asp-for="DetectDetails" class="form-control" />
                    <span asp-validation-for="DetectDetails" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DiagId" class="control-label"></label>
                        <select asp-for="DiagId" class="form-control" asp-items="ViewBag.DiagId"></select>
                        <span asp-validation-for="DiagId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompDiag" class="control-label"></label>
                        <input asp-for="CompDiag" class="form-control" />
                        <span asp-validation-for="CompDiag" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Complaints" class="control-label"></label>
                        <textarea rows="5" asp-for="Complaints" class="form-control"></textarea>
                        <span asp-validation-for="Complaints" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label asp-for="Obesity" class="control-label"></label>
                    @*<input asp-for="Obesity" class="form-control" />*@
                    <select asp-for="Obesity" class="form-control">
                        <option></option>
                        <option>Избыточный вес</option>
                        <option>Ожирение легкой степени</option>
                        <option>Ожирение средней степени</option>
                        <option>Ожирение тяжелой степени</option>
                    </select>
                    <span asp-validation-for="Obesity" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="DisorderCarbo" class="control-label"></label>
                    <input asp-for="DisorderCarbo" class="form-control" />
                    <span asp-validation-for="DisorderCarbo" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="ArterHypert" class="control-label"></label>
                    <input asp-for="ArterHypert" class="form-control" />
                    <span asp-validation-for="ArterHypert" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="DisorderPcm" class="control-label"></label>
                    <input asp-for="DisorderPcm" class="form-control" />
                    <span asp-validation-for="DisorderPcm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Visual" class="control-label"></label>
                <textarea rows="2" asp-for="Visual" class="form-control"></textarea>
                <span asp-validation-for="Visual" class="text-danger"></span>
            </div>
            <div>


                <div id="labCase">
                    <input type="hidden" id="labCaseId" value="0" />
                    <table class="table table-condensed table-striped table-bordered text-center table-hover" width="100%">
                        <thead>
                            <tr data-rowid="0">
                                <td>
                                    <select id="lab" class="form-control" asp-items="ViewBag.LabId" name="lab"></select>
                                </td>
                                <td style="white-space: nowrap; width: 1%;">
                                    <input id="detectYear" class="form-control" name="detectYear" type="number" value="@DateTime.Now.Year" />
                                </td>
                                <td>
                                    <input id="comment" class="form-control" name="comment" />
                                </td>
                                <td>
                                    <a id="save" class="btn btn-sm btn-primary text-white">Добавить</a>
                                    <a id="reset" hidden class="btn btn-sm btn-primary text-white">Отменить</a>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Лабораторное исследование
                                </th>
                                <th>
                                    Год исследования
                                </th>
                                <th>
                                    Комментарий
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>



            </div>
            <div class="form-group">
                <label asp-for="Igh" class="control-label"></label>
                <textarea rows="2" asp-for="Igh" class="form-control"></textarea>
                <span asp-validation-for="Igh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operation" class="control-label"></label>
                <textarea rows="2" asp-for="Operation" class="form-control"></textarea>
                <span asp-validation-for="Operation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postoper" class="control-label"></label>
                <textarea rows="2" asp-for="Postoper" class="form-control"></textarea>
                <span asp-validation-for="Postoper" class="text-danger"></span>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>СВЗК</th>
                        <th>Место забора крови</th>
                        <th>Альдостерон пг/мл</th>
                        <th>Кортизол нмоль/л</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Нижняя полая вена ниже почечных вен (НПВ(а))</td>
                        <td>
                            <input asp-for="SvzkNpvaA" class="form-control" />
                            <span asp-validation-for="SvzkNpvaA" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="SvzkNpvaK" class="form-control" />
                            <span asp-validation-for="SvzkNpvaK" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Правая надпочечная вена (ПНВ)</td>
                        <td>
                            <input asp-for="SvzkPnvA" class="form-control" />
                            <span asp-validation-for="SvzkPnvA" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="SvzkPnvK" class="form-control" />
                            <span asp-validation-for="SvzkPnvK" class="text-danger"></span>
                        </td>
                    </tr>
                    @*<tr>
                            <td>3</td>
                            <td>Левая надпочечная вена (ЛНВ)</td>
                            <td id="SvzkLnvAt" contenteditable="true"><input hidden asp-for="SvzkLnvA" class="form-control" /></td>
                            <td><input asp-for="SvzkLnvK" class="form-control" /></td>
                        </tr>*@
                    <tr>
                        <td>3</td>
                        <td>Левая надпочечная вена (ЛНВ)</td>
                        <td>
                            <input asp-for="SvzkLnvA" class="form-control" />
                            <span asp-validation-for="SvzkLnvA" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="SvzkLnvK" class="form-control" />
                            <span asp-validation-for="SvzkLnvK" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Нижняя полая вена выше почечных вен (НПВ(б))</td>
                        <td>
                            <input asp-for="SvzkNpvbA" class="form-control" />
                            <span asp-validation-for="SvzkNpvbA" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="SvzkNpvbK" class="form-control" />
                            <span asp-validation-for="SvzkNpvbK" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<div class="vertical-input-group">
                    <div class="input-group">
                        <div class="input-group-prepend col-sm-1">
                            <div class="input-group-text">dfgdfg</div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">dsfsdf</div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">s</div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">dsfsdf</div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend col-sm-1">
                            <div class="input-group-text">s</div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">dsfsdf</div>
                        </div>
                        <input asp-for="SvzkNpvbA" class="form-control" />
                        <input asp-for="SvzkNpvbK" class="form-control" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend col-sm-1">
                            <div class="input-group-text">s</div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">dsfsdf</div>
                        </div>
                        <input asp-for="SvzkNpvbA" class="form-control" />
                        <input asp-for="SvzkNpvbK" class="form-control" />
                    </div>
                </div>
                        _________________________________________________________________________________________

                <div class="form-group">
                    <label asp-for="SvzkNpvaA" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkPnvA" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkLnvA" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkNpvbA" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkNpvaK" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkPnvK" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkLnvK" class="control-label"></label>


                </div>
                <div class="form-group">
                    <label asp-for="SvzkNpvbK" class="control-label"></label>


                </div>*@






            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Вернуться на главную</a>
</div>

@section scripts{

    <script>
            let row = function (labCase) {
        return "<tr data-rowid='" + labCase.labCaseId + "'>" +
            "<td>" + labCase.lab.labName + "</td>" +
            "<td>" + labCase.detectYear + "</td>" +
            "<td>" + labCase.comment + "</td>" +
            "<td style='white-space: nowrap; width: 1%;'>" +
            "<a class='editLink btn btn-sm btn-primary text-white' data-id='" + labCase.labCaseId + "'>Изменить</a> | " +
            "<a class='removeLink btn btn-sm btn-primary text-white' data-id='" + labCase.labCaseId + "'>Удалить</a>" +
            "</td>" +
            "</tr>";
    }
    function GetLabCases(caseRdId) {
        $.ajax({
            url: "/api/APILabCases?caseRecordId=" + caseRdId,
            type: "GET",
            contentType: "applicattion/json",
            data: JSON.stringify({
                caseRecordId: caseRdId
            }),
            success: function (labCases) {
                let rows = "";
                $.each(labCases, function (index, labCase) {
                    rows += row(labCase);
                })
                $("#labCase table tbody").append(rows);
            }
        });
    }

    function getLabCase(id) {
        $.ajax({
            url: "/api/APILabCases/" + id,
            type: "GET",
            contentType: "applicattion/json",
            success: function (obj) {
                $("div#labCase #labCaseId")[0].value = obj.labCaseId;
                $("div#labCase #lab")[0].value = obj.labId;
                $("div#labCase #detectYear")[0].value = obj.detectYear;
                $("div#labCase #comment")[0].value = obj.comment;
                $("div#labCase #save")[0].innerText = "Сохранить";
                $("div#labCase #reset")[0].hidden = false;
            }
        });
    }
    $("div#labCase").on("click", ".editLink", function () {
        let id = $(this).data("id");
        getLabCase(id);
    })

    function createLabCase(iLab, iDetectYear, iComment) {
        $.ajax({
            url: "/api/APILabCases",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                labId: iLab,
                detectYear: iDetectYear,
                comment: iComment,
                caseRecordId: @Model.CaseRecordId
            }),
            success: function (fLabCase) {
                reset();
                $("div#labCase table tbody").append(row(fLabCase));
            }
        })
    }

    function editLabCase(iid, iLab, iLabName, iDetectYear, iComment) {
        $.ajax({
            url: "/api/APILabCases/" + iid,
            type: "PUT",
            contentType: "application/json",
            data: JSON.stringify({
                labCaseId: iid,
                labId: iLab,
                detectYear: iDetectYear,
                comment: iComment,
                caseRecordId: @Model.CaseRecordId,
                lab: { labName: iLabName }
            }),
            success: function (fLabCase) {
                reset();
                $("div#labCase tr[data-rowid='" + fLabCase.labCaseId + "']").replaceWith(row(fLabCase));
            }
        })
    }

    function deleteLabCase(id) {
        $.ajax({
            url: "/api/APILabCases/" + id,
            type: "DELETE",
            contentType: "application/json",
            success: function (labCase) {
                $("div#labCase tr[data-rowid='" + labCase.labCaseId + "']").remove();
            }
        })
    }

    $("div#labCase").on("click", ".removeLink", function () {
        let id = $(this).data("id");
        deleteLabCase(id);
    })

    $("div#labCase #save").click(function (e) {
        e.preventDefault();
        let id = parseInt($("div#labCase #labCaseId")[0].value);
        let labId = parseInt($("div#labCase #lab")[0].value);
        let labName = $("div#labCase #lab")[0].options[$("div#labCase #lab")[0].selectedIndex].textContent;
        let detectYear = parseInt($("div#labCase #detectYear")[0].value);
        let comment = $("div#labCase #comment")[0].value;
        //CreateLabCase(labId, detectYear, comment);
        if (id == 0)
            createLabCase(labId, detectYear, comment);
        else
            editLabCase(id, labId, labName, detectYear, comment);
        //this.submit();
        });

    // сброс значений формы
    $("#reset").click(function (e) {
        e.preventDefault();
        reset();
    })

    function reset() {
        $("div#labCase #labCaseId")[0].value = 0;
        $("div#labCase #lab")[0].options[0].selected = true;
        $("div#labCase #detectYear")[0].value = new Date().getFullYear();
        $("div#labCase #comment")[0].value = "";
        $("div#labCase #save")[0].innerText = "Добавить";
        $("div#labCase #reset")[0].hidden = true;
    }

    GetLabCases(@Model.CaseRecordId);



        //$("#caseEdit").submit(function (e) {
        //    e.preventDefault();
        //    alert(parseFloat($("td#SvzkLnvAt")[0].textContent));
        //    $("input#SvzkLnvA")[0].value = parseFloat($("td#SvzkLnvAt")[0].textContent);
        //    this.submit();
        //});
        //$(document).ready (function () {
        //    $("td#SvzkLnvAt")[0].textContent = $("input#SvzkLnvA")[0].value;
        //});

        // переопределение валидации на стороне клиента
        //$.validator.methods.range = function (value, element, param) {
        //    var globalizedValue = value.replace(",", ".");
        //    return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        //}

        //$.validator.methods.number = function (value, element) {
        //    return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        //}
    </script>
}

